# 以'#' 开始的行，被视为注释.
# 忽略掉所有文件名是 foo.txt 的文件.
foo.txt
#  忽略所有.o 和 .a文件.
*.[oa]
###########
*.suo
*.sdf
*.user
*.opensdf
*.ipch
*.aps
*.localstorage
*.iobj
*.pch
*.log
*.ilk
*.exp
*.obj
*.ipdb
*.bsc
*.sbr
*.tlog
.tlog/
.vscode/
bin/win32/
bin/win32/
MiniBlink/